.App {
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

h1, h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

table {
  width: 100%
}

td, th {
  border: 1px solid black;
  text-align: center;  
}